{% extends "admin/base.html" %}
{% import 'form.html' as form %}

{% block content %}
  {{ super() }}

  <div class="container">
    <div class="well">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>N</th>
            <th>Cost ({{ config.CURRENCY_SYMBOL | safe }} &div; 100)</th>
            <th>Special notes</th>
          </tr>
        </thead>
        <tbody>
          {% for (p, form) in products %}
            <form action="update" method="post">
              <tr>
                {{ form.hidden_tag() }}
                <td>{{ form.name }}</td>
                <td>{{ form.description }}</td>
                <td>{{ p.purchases.count() }}</td>
                <td>{{ form.cost }}</td>
                <td>{{ form.note }}</td>
                <td><input type="submit" value="Modify"/></td>
                <td><input type="submit" formaction="delete" value="Delete"/></td>
              </tr>
            </form>
          {% endfor %}

          <form method="post">
            <tr>
              {{ new.hidden_tag() }}
              <td>{{ new.name }}</td>
              <td>{{ new.description }}</td>
              <td></td>
              <td>{{ new.cost }}</td>
              <td>{{ new.note }}</td>
              <td><input type="submit" value="Add"/></td>
            </tr>
          </form>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
