{% extends "base.html" %}
{% import 'form.html' as form %}

{% set title = 'Registration' %}

{% block content %}
  {{ super() }}

  <div class="container">
    <h1 class="page-header">Registration confirmed</h1>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            <h2>{{ attendee.name }}</h2>
            {% if attendee.host %}
              <div class="host">
                Hosted by {{ attendee.host }}
              </div>
            {% endif %}
            {% if attendee.arrival and attendee.departure %}
                {{ attendee.arrival.strftime("%d %b %Y") }} &mdash; {{ attendee.departure.strftime("%d %b %Y") }}
            {% endif %}
          </div>

          <div class="col-md-4">
            {%- if attendee.username %}
              <h3 class="email">
                {{ attendee.username }}@FreeBSD.org
              </h3>
            {%- endif -%}
            {%- if not attendee.email.endswith('@FreeBSD.org') -%}
              <h3 class="email">
                {{ attendee.email }}
              </h3>
              <div class="address">{{ attendee.address }}</div>
            {%- endif -%}
          </div>
        </div>
      </div>

      <div class="panel-body">
        {% if attendee.diet %}
          {% call bs.panel('Dietary needs', 'warning') %}
            {{ attendee.diet }}
          {% endcall %}
        {% endif %}

        {% call bs.panel('Accommodation info', 'info') %}
            <a class="btn btn-default btn-raised pull-right"
             href="http://www.caths.cam.ac.uk/event/bsdcam-freebsd-developer-summit-accommodation">Book accommodation</a>

            Thanks for registering for the DevSummit!
            We have organized a block of rooms at
            <a href="http://www.caths.cam.ac.uk">St Catharine's College</a>
            for developers, but those accommodations must be booked separately
            through the College's website.
            Please use the button to the right to access the room block.
        {% endcall %}

        <div class="col-md-6">
          <h2>Bookings</h2>

          <table class="table">
            <tbody>
              {% for booking in bookings %}
                <tr>
                  <td>
                    {{ booking.item.description }}
                    {% if booking.item.note %}
                      <p class="bs-info">{{ booking.item.note }}</div>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="col-md-6">
          <h2>Purchases</h2>
          <table class="invoice table">
            <thead>
              <tr>
                <th>Quantity</th>
                <th>Item</th>
                <th>Cost</th>
                <th>Total</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td colspan="3">Total</td>
                <td class="money">{{ attendee.total_purchases() | safe }}</td>
              </tr>
            </tfoot>

            <tbody>
              {% for p in attendee.purchases %}
                <tr>
                  <td>{{ p.quantity }}</td>
                  <td>{{ p.item.description }}</td>
                  <td class="money">
                    {% if p.complimentary %}
                      gratis
                    {% else %}
                      {{ p.item.price() | safe }}
                    {% endif %}
                  </td>
                  <td class="money">{{ p.total() | safe }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="col-md-6">
          <h2>Anything else?</h2>
          <form action="/buy" method="get">
            <input type="hidden" name="buyer" value="{{ attendee.id }}"/>
            <input type="hidden" name="auth" value="{{ attendee.auth() }}"/>
            {{ form.chooser('item', products) }}
            <input type="submit" class="btn" value="Book / Buy"/>
          </form>
        </div>

        <div class="col-md-6">
          <h2>Payments</h2>
          <table class="invoice table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td>Total</td>
                <td class="money">{{ attendee.paid() | safe }}</td>
              </tr>
            </tfoot>

            <tbody>
              {% for p in attendee.payments %}
                <tr>
                  <td>{{ p.date.strftime("%d %b %Y") }}</td>
                  <td class="money">{{ p | safe }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          {% if attendee.paid() < attendee.total_purchases() %}
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_ext-enter" />
              <input type="hidden" name="redirect_cmd" value="_xclick" />
              <input type="hidden" name="item_name" value="Cambridge DevSummit" />
              <input type="hidden" name="email" values="{{ attendee.email }}" />
              <input type="hidden" name="custom" value="{{ attendee.email }}" />
              <input type="hidden" name="amount" value="{{ (attendee.total_purchases() - attendee.paid()).value() }}" />
              <input type="hidden" name="business" value="rwatson@FreeBSD.org" />
              <input type="hidden" name="return" value="https://bsdcam.cl.cam.ac.uk/attendee/{{ attendee.id }}?auth={{ attendee.auth() }}"/>
              <input type="hidden" name="currency_code" value="GBP" />
              <input type="submit" class="btn btn-primary" value="Pay with PayPal" />
            </form>

            <button class="btn btn-primary" data-toggle="collapse"
                data-target="#bank-details">
              Pay by bank transfer
            </button>

            {% call bs.panel('Bank account details', 'info',
                             footer = 'Payments may not appear for several days; please do not pay twice!',
                          extra_classes = "collapse", id="bank-details"
                  ) %}
              <div class="address">Name: FreeBSD Developer Summit
Bank: HSBC Bank PLC
Sort code: 40-16-08
Account number: 92781026
BIC / SWIFT code: MIDLGB22
IBAN: GB36MIDL40160892781026</div>
            {% endcall %}
          {% endif %}
        </div>
      </div>

      <div class="panel-footer">
        To make other changes or discuss special requirements
        (e.g. additional guests), please e-mail the organisers at
        <a href="mailto:cl-bsdcam-organisers@lists.cam.ac.uk">cl-bsdcam-organisers@lists.cam.ac.uk</a>.
      </div>
    </div>
  </div>
{% endblock %}
