{%- extends "base.html" -%}

{%- import "form.html" as forms -%}

{% import "bootstrap/utils.html" as utils %}

{% block content %}
  {{ super() }}

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form class="well bs-component" method="post">
          <!-- CSRF protection -->
          {{ form.hidden_tag() }}

          <fieldset>
            <legend>Register</legend>

            {{ forms.field(form.name) }}

            <div class="panel">
              <div class="panel-heading">
                <!-- Nav tabs -->
                <ul class="nav nav-pills" role="tablist">
                  <li class="active">
                    <a href="#dev" role="tab" data-toggle="tab">
                      I have a FreeBSD username
                    </a>
                  </li>
                  <li>
                    <a href="#guest" role="tab" data-toggle="tab">
                      I am a guest of a FreeBSD developer
                    </a>
                  </li>
                </ul>
              </div>

              <div class="panel-body">
                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane active" id="dev">
                    {{
                      forms.field(form.username,
                          help_text = "FreeBSD developers should provide their @FreeBSD.org username")
                    }}
                  </div>
                  <div class="tab-pane" id="guest">
                    {{
                      forms.field(form.host,
                        help_text = "Each guest must have a FreeBSD host")
                    }}

                    {{
                      forms.field(form.email,
                        help_text = "Optional for for attendees with a FreeBSD username (we'll use username@FreeBSD.org if this field is blank)")
                    }}
                  </div>
                </div>
              </div>
            </div>

            {{
              forms.field(form.address, rows = '4',
                help_text = "Postal address for your payment receipt")
            }}

            {{
              forms.field(form.arrival, extra_class = 'datepicker',
                help_text = "Optional: leave blank for local or TBD")
            }}

            {{
              forms.field(form.departure, extra_class = 'datepicker',
                help_text = "Optional: leave blank for local or TBD")
            }}

            {{ forms.field(form.shirt_size) }}

            {{ forms.field(form.dietary_needs,
                help_text = "Allergies, dietary restrictions, etc.") }}

            <div class="col-md-3 col-md-offset-9">
              <button type="submit" class="btn btn-primary">
                Register
              </button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script type="text/javascript">
  $('#arrival').bootstrapMaterialDatePicker({
    weekStart : 0,
    clearButton: true,
    minDate: '2017-07-30',
    maxDate: '2017-08-04',
    time: false,
    year: false
  });
  $('#departure').bootstrapMaterialDatePicker({
    weekStart : 0,
    clearButton: true,
    minDate: '2017-08-02',
    maxDate: '2017-08-07',
    time: false,
    year: false
  });
  </script>
{% endblock %}
