{%- extends "base.html" -%}

{% import "bootstrap/utils.html" as utils %}

{% block content %}
  {{ super() }}

  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Registration not open</h3>
          </div>
          <div class="panel-body">
            <p>
              Registration is not open yet: please check back later.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
{% endblock %}
